html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ^ style reset */

.container {
    display: grid;
    grid-template-columns: 2fr 8fr;
    height: 100vh;
}
.dashboard {
    display: grid;
    grid-template-rows: 10vh 30vh 20vh 40vh;
    background-color: beige;
}
.right {
    display: grid;
    grid-template-rows: 1.75fr 8fr;
}
.top {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color:darksalmon;

}
.bottom {
    display: grid;
    grid-template-columns: 3fr 1.15fr;
}
.newsfeed {
    display: grid;
    grid-template-rows: 1fr 1fr;
    background-color: darkseagreen;
}
.projects {
    background-color: aquamarine;
}
.icons {
    background-color: coral;
}
.projects {
    display: grid;
    grid-template-rows: 1fr 15fr;
}
.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}